.btn {
  line-height: 1.2;
  display: inline-block;
  transition: .4s;
  text-decoration: none;
  border-radius: 4px;

  &--bordered {
    font-family: $fnt-roboto;
    text-transform: uppercase;
    border: 2px solid $clr-blue;
    color: $clr-blue;
    letter-spacing: .3em;
    padding: 12px 18px;

    &:hover {
      background-color: $clr-blue;
      color: $clr-white;
    }
  }

  &--blue {
    letter-spacing: .1em;
    color: $clr-white;
    background-color: $clr-blue;
    padding: 15px 30px;

    &:hover {
      background-color: $clr-white;
      color: $clr-blue;
    }
  }
}

.link-phone,
.link-download {
  position: relative;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}

.link-url {
  display: inline-block;
  position: relative;
  margin-left: 20px;

  &:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 6px;
    opacity: .8;
    background: url('../img/icon_link.svg') no-repeat center;
    background-size: contain;
    left: -20px;
    top: 50%;
    margin-top: -3px;
  }
}

.link-phone {
  padding-left: 20px;

  &:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    opacity: .8;
    background: url('../img/icon_phone.svg') no-repeat center;
    background-size: contain;
    left: 0;
    top: 50%;
    margin-top: -6px;
  }

  span {
    visibility: hidden;
  }
}

.link-download {
  padding-left: 16px;

  @include media-down(md) {
    font-size: 11px;
  }

  &:before {
    position: absolute;
    content: '';
    width: 8px;
    height: 12px;
    opacity: .8;
    background: url('../img/icon_download.svg') no-repeat center;
    background-size: contain;
    left: 0;
    top: 50%;
    margin-top: -6px;
  }
}