* {
  box-sizing: border-box;
}

body {
  font-family: $fnt-osans;
  font-size: 14px;
  color: $clr-text;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.wrapper {
  border-top: 1px solid $clr-co;
}

.section {
  @include media-down(sm) {
    padding: 15px 0 30px;
  }

  @include media-up(sm) {
    padding: 50px 0 80px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @include media-up(sm) {
    width: $container-sm;
  }

  @include media-up(md) {
    width: $container-md;
  }

  @include media-up(lg) {
    width: $container-lg;
  }
}

.title {
  text-align: center;
  font-weight: normal;

  @include media-down(xs) {
    font-size: 28px;
  }

  @include media-up(xs) {
    font-size: 32px;
  }

  @include media-up(sm) {
    font-size: 38px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  span {
    font-weight: bold;

    &.clr {
      color: $clr-orange;
    }
  }
}

// top
.top {
  position: relative;
  overflow: hidden;
  color: $clr-white;

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__wrap {
    width: 100%;
    height: 100%;
  }

  &__main {
    height: 100%;
    width: 100%;
  }
}

.top-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100%;
  opacity: 0;
  text-align: center;
  @include flex($j-center, $a-center);
  flex-direction: column;
  background-color: $clr-co;
  z-index: 5;
  transition: .5s;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &.open {
    top: 0;
    opacity: 1;
    overflow: hidden;
  }

  &__item {
    margin: 1em 0;

    &--extra {
      
      @include media-down(xs) {
        margin-bottom: 1.5em;
        
        a {
          font-weight: normal;
          letter-spacing: .1em;
        }
      }

      @include media-up(xs) {
        display: none;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $clr-white;
    font-weight: bold;
    text-transform: uppercase;

    @include media-down(sm) {
      font-size: 20px;
    }

    @include media-up(sm) {
      font-size: 24px;
    }
  }
}

.header {
  width: 100%;
  z-index: 10;
  transition: .4s;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  background-color: transparent;

  @include media-down(sm) {
    padding: 10px 0;
    height: 55px;
  }

  @include media-up(sm) {
    padding: 20px 0;
    height: 75px;
  }

  &.is_stuck {
    background-color: $clr-co;
    width: 100% !important;
  }

  a {
    color: $clr-white;
    text-decoration: none;
  }

  &__wrap {
    @include flex($j-sb, $a-center);
  }

  &__phone {

    @include media-down(xs) {
      visibility: hidden;
      display: none;
    }

    @include media-up(xs) {
      font-size: 16px;
      letter-spacing: .3em;
    }
  }
}

.logo {
  display: block;
  width: 151px;
  height: 35px;
  overflow: hidden;
  text-indent: -9999px;
  background: url('../img/logo.svg') no-repeat center;
  background-size: contain;
}

.main-btn {
  position: relative;
  display: block;
  padding: 0;
  border: 0 none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
  background-color: transparent;

  @include media-up(sm) {
    &:hover {
    &:before {
        transform: scale(1);
      }
    }
  }

  &:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba($clr-white, .1);
    transform: scale(0);
    transition: .4s;
  }

  &__line {
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: $clr-white;
    left: 50%;
    margin-left: -12px;
    transition: .4s;

    &:first-child {
      top: 8px;
    }

    &:nth-child(2) {
      top: 50%;
      margin-top: -1px;
    }

    &:last-child {
      bottom: 8px;
    }
  }

  &.open {
    span:first-child {
      top: 50%;
      margin-top: -1px;
      transform: rotate(225deg);
    }

    span:nth-child(2) {
      transform: scale(0);
    }

    span:last-child {
      top: 50%;
      margin-top: -1px;
      transform: rotate(-225deg);
    }
  }
}

.top-slider {
  position: relative;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;

  .slick-list,
  .slick-track {
    height: 100%;
    z-index: 1;
  }

  &__item {
    display: inline-block;
    height: 100%;
    width: 100%;
    white-space: normal;
  }

  .slick-arrow {
    position: absolute;
  }
}

.slick-arrow {
  display: block;
  padding: 0;
  border: 0 none;
  border-radius: 0;
  background-color: $clr-white;
  top: 50%;
  z-index: 9999;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  background: url('../img/icon_arrow.svg') no-repeat center;
  background-size: 8px 15px;

  @include media-down(sm) {
    width: 32px;
    height: 44px;
    margin-top: -22px;
  }

  @include media-up(sm) {
    width: 46px;
    height: 52px;
    margin-top: -26px;
  }

  &.slick-disabled {
    opacity: .5;
    cursor: default;
  }

  &.slick-prev {
    left: 0;
    transform: rotate(180deg);
  }

  &.slick-next {
    right: 0;
  }
}

.top-slide {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  @include flex($j-center, $a-st);
  flex-direction: column;
  
  @include media-down(md) {
    padding-top: 100px;
    min-height: 400px;
    padding-bottom: 100px;
  }

  @include media-up(md) {
    padding-top: 80px;
    min-height: 100vh;
    padding-bottom: 100px;
  }

  &:after {
    position: absolute;
    content: '';
    z-index: 1;
    background-color: rgba($clr-co, .7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__wrap {
    position: relative;
    text-align: center;
    z-index: 2;
  }

  &__title {
    font-weight: bold;
    margin-bottom: .4em;

    @include media-down(xs) {
      font-size: 32px;
    }

    @include media-down(sm) {
      font-size: 42px;
    }

    @include media-up(sm) {
      font-size: 48px;
    }

    span {
      color: $clr-orange;
    }
  }

  &__description {

    @include media-down(sm) {
      font-size: 22px;
    }

    @include media-up(sm) {
      font-size: 26px;
    }
  }
}

// features
.features {
  position: relative;
  background-color: $clr-light;
  padding-bottom: 10px;
    
  @include media-up(sm) {
    margin-top: -80px;
  }

  &__row {
    position: relative;
    background-color: $clr-white;
    z-index: 1;

    @include media-up(xs) {
      @include flex;
      border-bottom: 1px solid $clr-border;
    }
  }

  &__item {   
    @include media-up(xs) {
      position: relative;
      flex-grow: 1;
      flex-basis: 0;

      &:not(:last-child) {
        &:after {
          position: absolute;
          content: '';
          width: 1px;
          height: 100%;
          background-color: $clr-border;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

.feature {
  font-family: $fnt-roboto;

  &__wrap {
    @include media-down(xs) {
      @include flex;
      padding: 20px 5px;
    }

    @include media-up(xs) {
      text-align: center;
      padding: 30px 5px;
    }
  }

  &__cover {
    @include media-down(xs) {
      flex-shrink: 0;
      width: 64px;
      margin-right: 15px;
    }

    @include media-up(xs) {
      margin-bottom: 25px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2em;
    min-height: 2.4em;

    @include media-down(sm) {
      font-size: 14px;
    }

    @include media-up(sm) {
      font-size: 18px
    }
  }

  &__description {
    @include media-down(sm) {
      font-size: 10px;
    }
  }
}

// photos
.photos {
  background-color: $clr-light;

  &__grid {
    @include media-up(sm) {
      @include flex;
      margin: 0 -8px;
    }
  }

  &__col {
    position: relative;

    @include media-up(sm) {
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 8px;

      &:last-child {
        @include flex;
        flex-direction: column;
      }
    }
  }

  &__item {
    overflow: hidden;

    @include media-down(sm) {
      position: relative;
      height: 0;
      padding-bottom: 60%;
      margin-top: 16px;
    }

    &--v {
      @include media-up(sm) {
        flex-grow: 1;
        flex-basis: 0;

        &:first-child {
          padding-bottom: 8px;
        }

        &:last-child {
          padding-top: 8px;
        }
      }
    }
  }

  &__img {
    @include media-down(sm) {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}

// comfort
.comfort {

  @include media-up(md) {
    overflow: hidden;
  }

  &__item {
    @include media-down(md) {
      padding: 15px 0;
    }

    @include media-up(md) {
      padding: 30px 0;
    }

    &:nth-child(odd) {
      
      @include media-up(md) {
        margin-left: -70px;

        .comfort__info {
          padding-left: 20px;
        }
      }

      @include media-up(lg) {
        margin-left: -90px;

        .comfort__info {
          padding-left: 40px;
        }
      }
    }

    &:nth-child(even) {
      
      @include media-up(md) {
        margin-right: -70px;

        .comfort__info {
          padding-right: 20px;
        }

        .comfort__cover {
          order: 2;
        }
      }

      @include media-up(lg) {
        margin-right: -90px;

        .comfort__info {
          padding-right: 40px;
        }
      }
    }
  }

  &__row {
    @include media-up(md) {
      @include flex($j-fs, $a-center);
    }
  }

  &__cover {
    @include media-up(md) {
      flex-shrink: 0;
      width: 60%;
    }

  }

  &__img {
    width: 100%;
    max-width: none;
  }

  &__info {
    @include media-down(md) {
      @include flex;
      flex-wrap: wrap;
      margin-top: 15px;
    }

    @include media-up(md) {
      width: 40%;
    }
  }

  &__title {
    font-size: 24px;
    margin-top: -0px;

    @include media-down(sm) {
      width: 100%;
    }

    @include media-down(md) {
      width: 40%;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    font-style: italic;

    @include media-down(sm) {
      width: 100%;
    }

    @include media-down(md) {
      width: 60%;
    }
  }
}

// add features

.result {
  position: relative;
  background-color: $clr-white;
  padding: 25px 15px 50px;
  margin: 0 auto;
  z-index: 4;
  text-align: center;
  box-shadow: 0 12px 42px rgba($clr-black, .08);

  @include media-up(xs) {
    max-width: 375px;
  }

  @include media-up(sm) {
    max-width: 502px;
  }

  &__label {
    font-weight: 300;
    font-family: $fnt-roboto;
    text-transform: uppercase;
    margin: 1em 0;

    @include media-down(xs) {
      font-size: 18px;
    }

    @include media-up(xs) {
      font-size: 22px;
    }
  }
}

.result-dgts {
  color: $clr-blue;

  &__done {
    @include media-down(xs) {
      font-size: 38px;
    }

    @include media-up(xs) {
      font-size: 42px;
    }
  }

  &__sep {
    @include media-down(xs) {
      font-size: 36px;
    }

    @include media-up(xs) {
      font-size: 38px;
    }
  }

  &__of {
    @include media-down(xs) {
      font-size: 32px;
    }

    @include media-up(xs) {
      font-size: 36px;
    }
  }
}

.add-features {
  position: relative;
  background: url('../img/bg_features.jpg') no-repeat center;
  background-size: cover;
  color: $clr-white;
  min-height: 700px;
  @include flex($j-center, $a-st);
  flex-direction: column;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($clr-co, .7);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  @include media-down(md) {
    margin-top: -40px;
    padding: 60px 0 30px;
  }

  @include media-up(md) {
    margin-top: -140px;
    padding: 100px 0 60px;
  }

  &__row {
    @include media-up(md) {
      @include flex;
    }
  }

  &__col {
    position: relative;

    @include media-down(md) {
      max-width: 300px;
      margin: 0 auto;

      &:not(:last-child) {
        padding-bottom: 20px;
        margin-bottom: 20px;

        &:after {
          position: absolute;
          content: '';
          height: 1px;
          background-color: rgba($clr-white, .2);
          bottom: 0;
          right: 0;
          left: 0;
        }
      }
    }

    @include media-up(md) {
      flex-grow: 1;
      flex-basis: 0;

      &:not(:last-child) {
        &:after {
          position: absolute;
          content: '';
          width: 1px;
          background-color: rgba($clr-white, .2);
          top: 0;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

.add-feature {
  text-align: center;
  font-family: $fnt-roboto;

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .3em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &__description {
    font-weight: 300;
    padding: 0 10px;
    font-size: 22px;
  }
}

// about
.about {
  background-color: $clr-light;

  &__description {
    max-width: 570px;
    margin: 0 auto 2em;
    color: $clr-gray;

    @include media-down(xs) {
      font-size: 18px;
    }

    @include media-down(sm) {
      font-size: 22px;
    }

    @include media-up(sm) {
      font-size: 25px;
    }
  }

  &__row {
    @include media-up(xs) {
      @include flex($j-sb, $a-st);
      flex-wrap: wrap;
    }
  }

  &__col {
    padding: 10px;

    @include media-up(xs) {
      width: 50%;
    }

    @include media-up(lg) {
      width: 25%;
    }
  }

  &__bottom {
    margin-top: 40px;
  }
}

.about-item {
  background-color: $clr-white;
  max-width: 200px;
  height: 100%;
  margin: 0 auto;

  &__info {
    padding: 15px;
    @include flex;

    &--extra {
      flex-direction: column;
      padding-left: 60px;
    }
  }

  &__value {
    font-size: 38px;
    line-height: 1;
    color: $clr-blue;
    min-width: 50px;
    flex-shrink: 0;
    margin-right: 5px;
  }

  &__label {
    font-family: $fnt-roboto;

    span {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

// finance
.finance {
  &__wrap {
    margin: 6em 0 4em;

    @include media-up(sm) {
      @include flex;
    }
  }

  &__cover {
    @include media-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    @include media-up(sm) {
      flex-shrink: 0;
    }

    @include media-down(lg) {
      margin-right: 40px;
    }

    @include media-up(lg) {
      margin-right: 75px;
    }
  }

  &__info {
    font-weight: 300;
    line-height: 1.5;
    color: $clr-gray;

    @include media-down(xs) {
      font-size: 20px;
    }

    @include media-up(md) {
      flex-grow: 1;
    }

    @include media-down(md) {
      font-size: 22px;
    }

    @include media-up(md) {
      font-size: 25px;
    }
  }
}

.finance-box {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: #662482;
  padding-left: 40px;
  @include flex($j-center, $a-st);
  flex-direction: column;

  &__prefix,
  &__suffix {
    color: $clr-blue;
    font-family: $fnt-roboto;
    font-size: 18px;
  }

  &__prefix {
    font-weight: 300;
  }

  &__value {
    font-size: 46px;
    color: $clr-white;
  }
}

.partners {
  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 1em 0;
  }

  &__list {
    @include flex($j-sb, $a-center);
    flex-wrap: wrap;
  }

  &__item {
    padding: 15px 0;

    @include media-down(xs) {
      width: 50%;
    }

    @include media-down(lg) {
      width: 33.33333%;
    }

    @include media-up(lg) {
      width: 16.66666%;
    }
  }

  &__logo {
    opacity: .5;
    transition: .4s;

    &:hover {
      opacity: 1;
    }
  }
}

// contacts
.contacts {
  position: relative;
  background: url('../img/bg_contacts.jpg') no-repeat center;
  background-size: cover;
  color: $clr-white;
  padding: 70px 0;

  @include media-up(xs) {
    min-height: 768px;
  }


  &:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($clr-co, .7);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__wrap {
    text-align: center;
  }

  &__cover {

    @include media-down(xs) {
      margin-bottom: 40px;
    }

    @include media-up(xs) {
      margin-bottom: 70px;
    }
    
  }

  &__title {
    font-weight: normal;
    

    @include media-down(xs) {
      font-size: 32px;
      margin: .5em 0;
    }

    @include media-down(sm) {
      font-size: 42px;
      margin: 1em 0;
    }

    @include media-up(sm) {
      font-size: 48px;
    }
  }

  &__description {
    line-height: 1.5;

    @include media-down(xs) {
      font-size: 18px;
    }

    @include media-down(sm) {
      font-size: 22px;
      margin-bottom: 1em;
    }

    @include media-up(sm) {
      font-size: 26px;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2em;
    }
  }
}

// footer
.footer {
  padding: 35px 0;
  font-family: $fnt-roboto;
  font-size: 12px;
  line-height: 1.5;
  color: rgba($clr-gray, .8);

  a {
    color: rgba($clr-gray, .8);
    transition: .4s;

    &:hover {
      color: $clr-gray;
    }
  }

  &__main {
    @include flex;
    flex-wrap: wrap;
  }

  &__logo {

    &-img {
      margin-left: 0;
    }

    @include media-down(md) {
      width: 100%;
      margin-bottom: 10px;

      &-img {
        margin-left: auto;
      }
    }

    @include media-up(lg) {
      width: 25%;
      flex-shrink: 0;
    }
  }

  &__logo,
  &__address,
  &__phones {
    @include media-down(lg) {
      width: 33.33333%;
      flex-shrink: 0;
    }
  }

  &__address,
  &__phones,
  &__urls,
  &__soci {
    @include media-down(md) {
      margin-left: 0;
      width: 50%;
      text-align: center;
    }
  }

  &__address,
  &__phones,
  &__urls {
    @include media-up(lg) {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  &__urls {
    @include media-down(lg) {
      margin-top: 10px;
      width: 33.33333%;
      margin-left: 33.33333%;
    }
  }

  &__soci {
    @include media-down(lg) {
      margin-top: 10px;
      width: 33.33333%;
    }
  }

  &__soci,
  &__creator {
    @include media-up(lg) {
      width: 20%;
      flex-shrink: 0;
    }
  }

  &__creator {
    margin-top: 10px;

    @include media-down(md) {
      width: 100%;
      text-align: center;
    }
  }

  &__extra {
    @include flex($j-fs, $a-st);
    flex-wrap: wrap;
    margin-top: 15px;
  }

  &__info {
    font-size: 9px;

    @include media-down(md) {
      width: 100%;
      flex-shrink: 0;
      margin: 1em 0;
      text-align: center;
    }

    @include media-down(lg) {
      width: 66.66666%;
      flex-shrink: 0;
    }

    @include media-up(lg) {
      width: 55%;
      flex-shrink: 0;
    }
  }

  &__downloads {
    @include media-down(md) {
      width: 100%;
      text-align: center;
    }

    @include media-down(lg) {
      width: 33.33333%;
      flex-shrink: 0;
    }

    @include media-up(lg) {
      width: 25%;
      flex-shrink: 0;
    }
  }
}

.soci-nav {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  @include flex($j-center, $a-center);

  @include media-up(md) {
    justify-content: flex-start;
  }

  &__item {
    padding: 0 5px;
  }

  &__link {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
    transition: .4s;

    &:hover {
      opacity: 1;
    }

    &--yt {
      background-image: url('../img/icon_yt.svg');
      background-size: 20px 14px;
    }

    &--in {
      background-image: url('../img/icon_in.svg');
      background-size: 15px 15px;
    }

    &--fb {
      background-image: url('../img/icon_fb.svg');
      background-size: 15px 15px;
    }

    &--vk {
      background-image: url('../img/icon_vk.svg');
      background-size: 20px 12px;
    }
  }
}