$fnt-osans: 'Open Sans', sans-serif;
$fnt-roboto: 'Roboto', sans-serif;

//MY VARS
$screen-xs: 480px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;

$container-sm: 600px;
$container-md: 690px;
$container-lg: 890px;

//--MY VARS

//MY COLOR
$clr-white: #fff;
$clr-light: #FCFCFC;
$clr-black: #000;

$clr-gray: #849EB0;
$clr-co: #662482;
$clr-blue: #00B9F7;
$clr-orange: #FAAF40;

$clr-text: #4A4A4A;
$clr-border: #D8D8D8;
//--MY COLOR
